@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #fffffa;
    background-color: #20321e;
}

.center {
    text-align: center;
}
/* headings and image*/

#htitle {
    font-size: 300%;
    letter-spacing: 4px;
    padding-top: 250px;
}

#stitle {

    height: 30px;
    width: 300px;
    padding: 10px;
    margin: auto;
    background-color: #141f10c7;
    border-radius: 25px;
}

/* navigation links */

.menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
    
}
.menu li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/* main img */

#mainImage {
    background: url("../images/header.jpeg");
    box-shadow: inset 0 0 0 1000px rgba(13, 20, 12, 0.753);
    background-size: cover;
    height: 80vh;
    width: 100%;
}

/* benefits */

#hBenefits {
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.91);
}

#pBenefits {
    padding-left: 30px;
    padding-right: 30px;
    color: #c5c5c5;
    letter-spacing: 1px;
}

#benefits {
    padding-top: 20px;
    padding-bottom: 80px;

}

#leftBenefits {
    padding-top: 30px;
    padding-left: 10px;
    float: left;
    width: 33%;
}

#rightBenefits {
    padding-top: 30px;
    float: right;
    width: 33%;
    padding-right: 10px;
}

#centerBenefits {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}
hr {
    border-top: 2px solid #ffffff17;
    width: 100%;
    margin: 5px 0;
    display: block;
    width: 675px;
    margin:auto
}

#benefits ul {
    list-style: none;
    text-transform: uppercase;
}

#benefits li {
    letter-spacing: 1px;
    margin: 10px;
    padding: 4%;
    background-color: #141f1077;
    border-radius: 25px;
    text-align: justify;
    height: 40px;
}

.far {
    color: rgb(94, 233, 94);
}

#credit{
    float: right;
    font-size: 15px;
    padding-top: 20px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.432);
}

/* Discover */

#discoverMenu {
    display: table;
    margin: 0 auto;
    float: none;
}

/* Footer */

footer {
    height: 150px;
    width:100%;
    background-color: rgb(31, 31, 31);
    margin-top: 100px;
}

#leftFooter {
    float: left;
    width: 50%;
    padding-left: 50px;
    padding-top: 50px;
    color: rgba(255, 255, 255, 0.479);
}
#rightFooter {
    float: right;
    padding-right: 50px;
    padding-top: 50px;
    color: rgba(255, 255, 255, 0.479);
}